.courses-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--padding);
    /* margin-bottom: var(--padding); */
}

.course {
    cursor: pointer;
    padding: 20px;
    transition: background-color 0.3s ease;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(275px, 100% / 4)), 1fr));
    grid-gap: var(--padding);
    background: white;
    border-radius: var(--radius);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    flex-direction: column-reverse;
}

.course:hover {
    background-color: #f9f9f9;
}

.course .left {
    flex: 1;
    padding-right: 20px;
}

.course .right {
    display: flex;
    /* flex: 0 0 auto; */
    justify-content: center;
}

.course h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.course p {
    margin-top: 0;
    color: #666;
}

.course img {
    max-width: 100%;
    height: auto;
    max-height: 160px;
    border-radius: var(--radius-inner);
    border: 1px solid;
    object-fit: scale-down;
}


/*VIDEO PLAYER*/
video {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: var(--radius-inner);
    border: 1px solid #ddd;
}

.bufferd {
    width: calc(100% - 28px);
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: var(--radius);
    overflow: hidden;
    margin-left: 14px;
    margin-right: 14px;
}

.bufferd div {
    background: rgba(255, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.video-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ddd;
}

.video-info ul {
    list-style: none;
    padding: 0;
}

.video-info ul li::before {
    content: "⌬ ";
}