.courses-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
}

.search {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search input,
.search select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.search input:focus,
.search select:focus {
    border-color: #007bff;
    outline: none;
}

.courses-container-sub {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border: 1px solid var(--border-color);
    z-index: 1;
}

.card:hover {
    transform: translateY(-5px);
}

.card img.top {
    width: 100%;
    height: auto;
    display: block;
}

.card-body .desc {
    padding: 20px;
}

.card-body .desc h3 {
    margin: 0;
    font-size: 1.5em;
}

.card-body .desc p {
    margin: 0;
    font-size: 1em;
}

.card-body .info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card-body .info span {
    font-size: 1em;
}

.card-body .start {
    border-top: 1px solid var(--border-color);
    display: flex;
    padding: 20px ;
}

.card-body .start p {
    color: #007bff;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 8px;
}