* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

:root,.light {
    --background-color: rgb(245, 245, 245);
    --text-color: rgb(51, 51, 51);
    --text-color-light: rgb(121, 121, 121);
    --accent-color: rgb(47, 87, 239);
    --accent-color-light: rgb(185, 102, 231);
    --accent-color-dark: rgb(47, 87, 239);
    --color-border: #e6e3f1;
    --inactive-color: #e6e3f1;
    --radius: 10px;
    --radius-inner: 7px;
    --shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    --font-size: 16px;
    --font-size-heading: 20px;
    --padding: 24px;
    --transition: 0.3s;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    pointer-events: none;
}

body {
    font-family: 'Euclid Circular', sans-serif;
    color: var(--text-color);
    overflow: hidden;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    display: none;
}

.disabled {
    filter: grayscale(1) !important;
    opacity: 50% !important;
    cursor: not-allowed !important;
}

html {
    scroll-behavior: smooth;
}

html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    color: var(--text-color);
}

/* MY COURSES DETAILS */
.sidebar {
    position: fixed;
    top: var(--padding);
    left: var(--padding);
    width: 250px;
    height: calc(100% - 2 * var(--padding));
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(145deg, var(--accent-color-light), var(--accent-color)) !important;
    z-index: 10;
    border-radius: var(--radius);
    color: var(--text-color-light);
}

.sidebar::before {
    content: "";
    z-index: -1;
    top: 3px;
    left: 3px;
    position: absolute;
    background: #fff;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: var(--radius-inner);
}

.sidebar .content {
    margin-bottom: var(--padding);
    margin-left: var(--padding);
    margin-right: var(--padding);
}

.sidebar .wrapper {
    margin-top: 40px;
}

.sidebar .title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar .title span {
    background: -webkit-linear-gradient(12deg, var(--accent-color-light), var(--accent-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.sidebar .title h6 {
    font-size: var(--font-size-heading);
    font-weight: 500;
}

.sidebar .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .menu ul li {
    margin-bottom: calc(var(--padding) / 4);
    margin-top: calc(var(--padding) / 4);
}

.sidebar .menu ul li a {
    display: block;
    text-decoration: none;
    padding: calc(10px + var(--padding) / 4) 10px 10px 0;
    border-top: 1px solid #e6e3f1;

}

.sidebar .menu ul li:first-child a{
    border-top: none;
}

.sidebar .menu ul li a span {
    margin-left: calc(var(--padding) / 2);
    font-weight: 400;
    font-size: var(--font-size);
}

.sidebar .menu ul li:hover span {
    color: var(--accent-color);
    transition: var(--transition);
    text-shadow: var(--shadow);
}

/*MAIN*/
main#main {
    width: calc(100% - 250px - 3 * var(--padding));
    left: calc(250px + 2 * var(--padding));
    top: var(--padding);
    height: calc(100% - 2 * var(--padding));
    position: fixed;
    overflow-y: auto;
}

/*LOADING SCREEN*/
#loading-screen {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: calc(100% - 250px - 3 * var(--padding));
    left: calc(250px + 2 * var(--padding));
    top: var(--padding);
    height: calc(100% - 2 * var(--padding));
    position: fixed;
    transition: 0.25s;
}

.atom-container {
    position: relative;
    width: 100px;
    height: 100px;
    animation: bob 2s infinite;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #333;
}

.atom-container:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
}

.orbit:nth-child(1) {
    animation: orbit1 3s linear infinite;
    transform: translate(-50%, -50%) rotate(60deg);
}

.orbit:nth-child(2) {
    animation: orbit2 3s linear infinite;
    transform: translate(-50%, -50%) rotate(180deg);
}

.orbit:nth-child(3) {
    animation: orbit3 3s linear infinite;
    transform: translate(-50%, -50%) rotate(300deg);
}

@keyframes orbit1 {
    0%{
        transform: translate(-50%, -50%) rotate(60deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(300deg);
    }
}

@keyframes orbit2 {
    0%{
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(420deg);
    }
}

@keyframes orbit3 {
    0%{
        transform: translate(-50%, -50%) rotate(300deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(540deg);
    }
}

@keyframes bob {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
}

/*UTILS*/
.horizontal-split {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: var(--padding);
    width: calc(100% - var(--padding));
}

.horizontal-split.one_fourth {
    grid-template-columns: 25% 75%;
}

.horizontal-split.two_third {
    grid-template-columns: 66% 33%;
}

.horizontal-split.three_fourth {
    grid-template-columns: 75% 25%;
}

.vertical-split {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: var(--padding);
    height: calc(100% - var(--padding));
}

.vertical-split.one_fourth {
    grid-template-rows: 25% 75%;
}

.vertical-split.two_third {
    grid-template-rows: 66% 33%;
}

.vertical-split.three_fourth {
    grid-template-rows: 75% 25%;
}