/* Styles for question container */
.question-container {
    position: sticky;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    display: grid;
    height: 400px;
}

/*.question-container::before {*/
/*    content: "";*/
/*    z-index: -1;*/
/*    top: 3px;*/
/*    left: 3px;*/
/*    position: absolute;*/
/*    background: #fff;*/
/*    width: calc(100% - 6px);*/
/*    height: calc(100% - 6px);*/
/*    border-radius: var(--radius-inner);*/
/*}*/

/* Styles for individual questions */
.question {
    position: sticky;
    overflow: hidden;
    transition: transform 0.5s ease-in;
    padding: var(--padding);
    background: white;
    /* border-radius: var(--radius); */
    /* color: var(--text-color-light); */
    grid-area: 1 / 1 / 1 / 1;
}

.question::before {
    /* content: ""; */
    z-index: -1;
    top: 3px;
    left: 3px;
    position: absolute;
    background: #fff;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: var(--radius-inner);
    grid-area: 1 / 1 / 1 / 1;
}

/* Styles for headings */
.question h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: var(--font-size-heading);
    color: var(--text-color);
}

/* Styles for subheadings */
.question h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: var(--font-size-heading);
    color: var(--text-color);
}

/* Styles for paragraphs */
.question p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: var(--font-size);
    color: var(--text-color);
}

.question-legend p::before {
    content: "⌬ ";
}

/*TEXT FIELDS*/
.forms-text_field {
    margin-bottom: 10px;
}

.forms-text_field_label {
    margin-bottom: 5px;
    font-weight: bold;
}

.forms-text_field_desc {
    font-size: var(--font-size);
    color: var(--text-color);
    margin-bottom: 5px;
    word-break: break-word;
}

.forms-text_field div[contenteditable="true"] {
    border: 1px solid #ccc;
    padding: var(--padding);
    font-size: var(--font-size);
    color: var(--text-color);
    border-radius: var(--radius-inner);
    margin-top: 5px;
}

.question-legend {
    font-size: var(--font-size);
    color: var(--text-color);
    margin-bottom: 5px;
    overflow-y: scroll;
    padding: var(--padding);
    height: 100%;
}

.question-legend p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: var(--font-size);
    color: var(--text-color);
}

/*SECTIONS*/
.forms-section_title {
    font-size: var(--font-size-heading);
    font-weight: bold;
    margin-bottom: 5px;
}

.forms-section_desc {
    font-size: var(--font-size);
    color: var(--text-color);
    margin-bottom: 5px;
}

.forms-section_questions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
    flex-direction: column;
    padding: var(--padding);
    background: var(--color-border);
    box-shadow: var(--shadow);
    border-radius: var(--radius-inner);
    margin-top: calc(2 * var(--padding));
}

/*DROPDOWNS*/
.forms-dropdown_question_title {
    font-size: var(--font-size-heading);
    font-weight: bold;
}

.forms-dropdown_question_desc {
    font-size: var(--font-size);
    color: var(--text-color);
}

.forms-dropdown_question_selected {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: var(--radius-inner);
    margin-top: var(--padding);
    cursor: pointer;
}

.forms-dropdown_question_options {
    display: none;
    position: relative;
    top: var(--padding);
    background: var(--color-border);
    border-radius: var(--radius);
}

.forms-dropdown_question_option_container {
    background: var(--color-border);
    z-index: 100000;
    position: relative;
    overflow: hidden;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: var(--radius-inner);
    margin-bottom: var(--padding);
    cursor: pointer;
}

.forms-dropdown_question.active .forms-dropdown_question_options {
    display: block;
    background-color: var(--background-color);
    border-radius: var(--radius-inner);
    margin-bottom: 5px;
    cursor: pointer;
    padding: 5px;
    margin-top: var(--padding);
}

.forms-dropdown_question_option {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.forms-dropdown_question_option:last-child {
    border-bottom: none;
}

/*SLIDER*/
.forms-slider_question {
    margin-bottom: 20px;
}

.forms-slider_question_title {
    font-size: var(--font-size-heading);
    font-weight: bold;
}

.forms-slider_question_desc {
    font-size: var(--font-size);
    color: var(--text-color);
}

.slider-container {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin-top: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--padding);
}

.slider-track {
    width: 100%;
    height: 10px;
    background: var(--background-color);
    border-radius: 5px;
}

.slider-thumb {
    width: 20px;
    height: 14px;
    border-radius: var(--radius);
    background: var(--text-color);
    border: 1px solid;
    cursor: pointer;
    position: relative;
    top: -2px;
}

.slider-value {
    font-size: var(--font-size);
    color: var(--text-color);
    width: calc(3 * var(--padding));
    text-align: center;
}

/*MULTIPLE CHOICE*/
.forms-multiple_choice_question_title {
    font-size: var(--font-size-heading);
    font-weight: bold;
}

.forms-multiple_choice_question_desc {
    font-size: var(--font-size);
    color: var(--text-color);
}

.forms-multiple_choice_question_options {
    display: flex;
    flex-direction: column;
    margin-top: var(--padding);
}

.forms-multiple_choice_question_option {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: var(--radius-inner);
    margin-bottom: 5px;
}

.forms-multiple_choice_question_option:hover {
    background-color: var(--background-color);
}

.forms-multiple_choice_question_option_radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.forms-multiple_choice_question_option_label {
    font-size: var(--font-size);
    color: var(--text-color);
}

.forms-multiple_choice_question_option_radio {
    width: 15px;
    height: 15px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: var(--padding);
}

.forms-multiple_choice_question_option_checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid;
    margin-right: var(--padding);
}

.forms-multiple_choice_question_option.selected .forms-multiple_choice_question_option_radio, .forms-multiple_choice_question_option.selected .forms-multiple_choice_question_option_checkbox {
    background-color: var(--text-color);
}

/*CHECKBOX*/
.forms-checkbox_question_title {
    font-size: var(--font-size-heading);
    font-weight: bold;
}

.forms-checkbox_question_desc {
    font-size: var(--font-size);
    color: var(--text-color);
}

.forms-checkbox_question_option {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: var(--radius-inner);
    margin-bottom: 5px;
    margin-top: 5px;
}

.forms-checkbox_question_option:hover {
    background-color: var(--background-color);
}

.forms-checkbox_question_option_checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid;
    margin-right: var(--padding);
}

.forms-checkbox_question_option_label {
    font-size: var(--font-size);
    color: var(--text-color);
}

.forms-checkbox_question_option_checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid;
    margin-right: var(--padding);
}

.forms-checkbox_question_option.selected .forms-checkbox_question_option_checkbox {
    background-color: var(--text-color);
}

/*TRUE/FALSE*/
.forms-true_false_question_title {
    font-size: var(--font-size-heading);
    font-weight: bold;
}

.forms-true_false_question_desc {
    font-size: var(--font-size);
    color: var(--text-color);
}

.forms-true_false_question_option {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: var(--radius-inner);
    margin: 5px;
}

.forms-true_false_question_option.selected {
    background-color: var(--background-color);
}

.forms-true_false_question_options {
    display: flex;
    flex-direction: row;
    margin-top: var(--padding);
    justify-content: space-evenly;
}

.forms-true_false_question_option:hover {
    background-color: var(--background-color);
}

/*FILL IN THE BLANK*/
.forms-fill_in_the_blank_question {
    margin-bottom: 20px;
}

.forms-fill_in_the_blank_question_title {
    font-size: var(--font-size-heading);
    font-weight: bold;
}

.forms-fill_in_the_blank_question_desc {
    font-size: var(--font-size);
    color: var(--text-color);
}

.forms-fill_in_the_blank_question_text {
    margin-top: var(--padding);
    white-space: normal;
}

.forms-fill_in_the_blank_question_text_input {
    border: 1px solid #ccc;
    font-size: var(--font-size);
    color: var(--text-color);
    border-radius: var(--radius-inner);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-shadow: none;
    display: inline-block;
    min-width: 100px;
    height: auto;
    padding: 5px;
}

/*MATCHING*/
.forms-matching_question {
    margin-bottom: 20px;
}

.forms-matching_question_title {
    font-size: var(--font-size-heading);
    font-weight: bold;
}

.forms-matching_question_desc {
    font-size: var(--font-size);
    color: var(--text-color);
}

.forms-matching_question_grid {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    margin-top: var(--padding);
}

.forms-matching_question_grid_inner {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    width: 100%;
}

.forms-matching_question_option {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: var(--radius-inner);
    cursor: pointer;
}

.forms-matching_question_option.over {
    background-color: var(--background-color);
}

.forms-matching_question_option:hover {
    background-color: var(--background-color);
}

/*BUTTONS*/
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 36px;
    /* margin-top: var(--padding); */
    gap: var(--padding);
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    background: linear-gradient(145deg, var(--accent-color-light), var(--accent-color)) !important;
    border-radius: var(--radius);
    color: var(--text-color-light);
}

.button i {
    font-size: var(--font-size);
    color: white;
}

.button:hover {
    filter: brightness(1.1);
}

.button:hover i {
    color: var(--text-color);
}

.button::before {
    content: "";
    z-index: -1;
    top: 3px;
    left: 3px;
    position: absolute;
    background: #fff;
    width: 94px;
    height: 30px;
    border-radius: var(
            --radius-inner);
}