@using ChemCourses.Utils
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>CHEM Courses</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fa.kronk.tech" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    @* <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> *@
    <link href="css/euclid-circulara.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" asp-append-version="true">
</head>
<body onload="InitBetterPages()">

<div class="sidebar">
    <div class="content">
        <div class="title">
            <h6>Welkom, <span>Megan</span></h6>
        </div>
        <nav class="menu">
            <ul class="list">
                <li><a onclick="@Url.BetterPagesAction("Dashboard", "Home")" class="active"><i class="far fa-home"></i><span>Dashboard</span></a></li>
                <li><a href="student-profile.html"><i class="far fa-user"></i><span>Mijn Profiel</span></a></li>
                <li><a onclick="@Url.BetterPagesAction("Index", "Courses")"><i class="far fa-book"></i><span>Lesmateriaal</span></a></li>
                <li><a href="student-wishlist.html"><i class="far fa-bookmark"></i><span>Toetsen</span></a></li>
                <li><a href="student-order-history.html"><i class="far fa-history"></i><span>Bestelgeschiedenis</span></a></li>
            </ul>
        </nav>
        <div class="title">
            <h6>Gebruiker</h6>
        </div>
        <nav class="menu">
            <ul class="list">
                <li><a href="student-settings.html"><i class="far fa-cogs"></i><span>Instellingen</span></a></li>
                <li><a href="index.html"><i class="far fa-sign-out-alt"></i><span>Uitloggen</span></a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="noselect" id="loading-screen">
    <div class="atom">
      <div class="electron"></div>
      <div class="electron"></div>
      <div class="electron"></div>
    </div>
</div>

<main id="main">
    @RenderBody()
</main>
</body>
</html>