@using ChemCourses.Utils

@{
    string fluidColor = ColorUtils.GenerateRandomColorHex();
}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>CHEM Courses</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fa.kronk.tech" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" asp-append-version="true">
</head>
<body onload="InitBetterPages()">

<div class="sidebar">
    <div class="top">
        <i onclick="SpinShakeAndColorate()" class="fa-duotone fa-flask" style="--fa-primary-color: var(--flask-fluid-color); --fa-secondary-color: #000000; --fa-secondary-opacity: 1;"></i>
        <h1>CHEM Courses</h1>
    </div>
    <ul>
        <div class="divider"></div>
        <li>
            <a onclick="ReplacePage('@Url.Action("Dashboard", "Home")')"><i class="far fa-chart-tree-map"></i>Dashboard</a>
        </li>
        <div class="divider"></div>
        <li>
            <a onclick="ReplacePage('@Url.Action("Videos", "Home")')"><i class="far fa-video"></i>Videos</a>
        </li>
        <div class="divider"></div>
        <li>
            <a onclick="ReplacePage('@Url.Action("CreateForm", "Toets")')"><i class="far fa-chart-line"></i>Toetsen</a>
        </li>
    </ul>
    
    <div class="bottom">
        <div class="background">
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/rocket-8084689-6437619.png?f=webp">
            <span>Nog niet uitgeleerd?</span>
            <div class="button">
                Ga premium!
            </div>
        </div>
    </div>
</div>

<div class="loading-screen noselect" id="loading-screen">
    <div class="container">
        <div class="water"></div>
        <div class="flask"></div>
    </div>
</div>

<main id="main">
    @RenderBody()
</main>

<script>

document.body.style.setProperty('--flask-fluid-color', '@fluidColor');

function SpinShakeAndColorate() {
    var flask = document.querySelector('.fa-flask');
    flask.classList.add('spinNshake');
    setTimeout(() => {
        //set body variable --flask-fluid-color to a random color
        document.body.style.setProperty('--flask-fluid-color', getRandomColor());        
        setTimeout(() => {
            flask.classList.remove('spinNshake');
        }, 125);
    }, 125);
}

function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

</script>

</body>
</html>