@using ChemCourses.Utils
@* <!-- https://demo.themeum.com/tutor/courses/ --> *@


<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>ScheikundeSnappen.nl</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fa.kronk.tech" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/fonts/EuclidCircularA/EuclidCircularA.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" asp-append-version="true">
    <script src="js/Script.js" asp-append-version="true"></script>
</head>

<body onload="InitBetterPages()">

<header class="header-default">
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="https://demo.themeum.com/tutor/">
                <span>Scheikunde</span>
                <span>Snappen</span>
                <span>.nl</span>
            </a>
        </div>
        <button class="navbar-toggler">
            <span class="toggle-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li><a href="https://demo.themeum.com/tutor/overview/">Dashboard</a></li>
            <li><a onclick="@Url.BetterPagesAction("Index", "Courses")">Lesmateriaal</a></li>
            <li><a href="https://demo.themeum.com/tutor/courses/lights-camera-action/lesson/get-started/">Toetsen</a></li>
            <li><a href="https://demo.themeum.com/tutor/dashboard/settings/">Instellingen</a></li>
            <li><a href="https://demo.themeum.com/tutor/dashboard/">Profiel</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li><a href="https://demo.themeum.com/tutor/admin/">Admin</a></li>
            }
            @if ((bool) User.Identity?.IsAuthenticated)
            {
                <li><a href="https://demo.themeum.com/tutor/logout/">Uitloggen</a></li>
            }
            else
            {
                <li><a href="https://demo.themeum.com/tutor/login/">Inloggen</a></li>
            }
        </ul>
    </nav>
</header>

<main id="main">
    @{
        IgnoreBody();
    }
</main>
</body>
</html>