@model ChemCourses.Utils.Form

<link rel="stylesheet" href="/css/toets.css">
<script src="/js/Forms.js"></script>

<div class="question-container">
    @Html.Raw(Model.RenderToHTML())
</div>


<div class="buttons">
    <div class="button back">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="button next">
        <i class="fas fa-arrow-right"></i>
    </div>
</div>