<!-- This page is not needed for the application to run, it is merely a example  -->

@model dynamic

<link rel="stylesheet" href="/css/test.css" />

<h1 id="test">Test</h1>

<a onclick="ReplacePage('@Url.Action("Test2")')">Goto page test2</a>

<script minimize>
//add minimize to the script tag to minify the script (it doesn't replace variable names)

//every second, make #test a random string of 10 characters
var interval = setInterval(function() {
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for (var i = 0; i < 10; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    document.getElementById("test").innerText = text;
}, 1000);

BetterPages.mainBeforeLoad = () =>{
    console.log("mainBeforeLoad");
};

BetterPages.mainAfterLoad = () =>{
    console.log("mainAfterLoad");
};

BetterPages.mainBeforeUnload = () =>{
    console.log("mainBeforeUnload");
    clearInterval(interval);
};
</script>