<!-- This page is not needed for the application to run, it is merely a example  -->

@model dynamic

<link rel="stylesheet" href="/css/test.css" />

<h1 id="test">Test2</h1>

<p>This page doesn't have 'minimze' of the script tag</p>

<a onclick="ReplacePage('@Url.Action("Test")')">Goto page test</a>

<script>
//every second, make #test a random string of 10 characters
var interval = setInterval(function() {
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for (var i = 0; i < 10; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    document.getElementById("test2").innerText = text;
}, 1000);

BetterPages.mainBeforeLoad = () =>{
    console.log("mainBeforeLoad");
};

BetterPages.mainAfterLoad = () =>{
    console.log("mainAfterLoad");
};

BetterPages.mainBeforeUnload = () =>{
    console.log("mainBeforeUnload");
    clearInterval(interval);
};
</script>