@model List<ChemCourses.Controllers.Course>

<link rel="stylesheet" href="/css/Courses.css" asp-append-version="true">

<div class="courses-container">
    @foreach (var course in Model)
    {
        <div class="course" onclick="ReplacePage('/Courses/Course/@course.Id')">
            <div class="left">
                <h2>@course.Name</h2>
                <p>@course.Description</p>
            </div>
            <div class="right">
                <img src="@course.Banner" alt="Course Banner">
            </div>

        </div>
    }
</div>