@using ChemCourses.Utils
@model ChemCourses.Controllers.Course

<link rel="stylesheet" href="/css/Courses.css" asp-append-version="true">
<script src="js/VideoPlayer.js"></script>

<div class="vertical-split">
    <div class="horizontal-split two_third">
        <video controls id="video" width="auto" height="100%"></video>
        <div class="video-info">
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>
        
            <div class="divider"></div>
        
            <ul>
                In deze video:
                @foreach (var listItem in (Model.InThisVideo))
                {
                    <li>@listItem</li>
                }
            </ul>

        </div>
    </div>
    
    <div class="horizontal-split two_third">
        <div></div>
        <div class="goto-questions-button" onclick="ReplacePage('/Less/@Model.Id/test')">Naar de vragen </div>
    </div>
</div>

<script>
var videoPlayer = undefined;
BetterPages.mainAfterLoad = () => {
    setTimeout(function() {
        videoPlayer = new VideoPlayer('@Model.Id');
        videoPlayer.startup();
        videoPlayer.play();
    }, 1000);
}
</script>