@model ChemCourses.Controllers.Course

<link rel="stylesheet" href="/css/Courses.css" asp-append-version="true">

<div class="lesson-info-container">
    <div class="center">
        <div class="lesson-info">
            <div class="title">Lights, Camera, Action</div>
            
            <p>Beschrijving</p>
            <div class="description">
                You will be taught the full process of filmmaking starting from planning, filming, and editing. Not only that but you will learn how to make films that look way more expensive than they are without spending a whole lot of time or money on them. In this course, we’ll focus on a few different forms of films from video ads, to movie trailers to travel vlogs, you name it.

                In addition to that, we’ll also go over Adobe Premiere Pro in detail so that you get an idea of all that you need to know to become an editing genius. And, if you feel like you’re stuck at any point then you can always ask for guidance and I’ll reply as soon as possible.

                With this course, you also have access to a whole lot of resources not only for reference but also free media like aerial video shots, background music, fonts, and more. These all come with proper licensing so you can use them in your production worry free.
            </div>
            
            <p>Wat je gaat leren</p>
            <div class="learn">
                <ul>
                    <li>Planning</li>
                    <li>Filming</li>
                    <li>Editing</li>
                    <li>Adobe Premiere Pro</li>
                    <li>Resources</li>
                </ul>
            </div>
            
            <p>Wat zit er in de les</p>
            
            <div class="accordion">
                <p class="accordion-title">Get Started!</p>
                <div class="accordion-content">
                    <div class="item">
                        <i class="fas fa-file"></i>
                        Get Started!
                    </div>
                </div>
            </div>
            
            <div class="accordion">
                <p class="accordion-title">Workflow in photography</p>
                <div class="accordion-content">
                    <div class="item">
                        <i class="fab fa-youtube"></i>
                        What is Workflow in Digital Photography?
                    </div>
                    <div class="item">
                        <i class="fas fa-file"></i>
                        Understanding of photography
                    </div>
                    <div class="item">
                        <i class="fas fa-square-question"></i>
                        All About Image Editing
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script minimize>
    var acc = Array.from(document.getElementsByClassName("accordion"));
    acc.forEach(function (el) {
        el.addEventListener("click", function () {
            el.getElementsByClassName("accordion-content")[0].style.display = el.getElementsByClassName("accordion-content")[0].style.display === "block" ? "none" : "block";
        });
    })
</script>


@* <script> *@
@* var videoPlayer = undefined; *@
@* BetterPages.mainAfterLoad = () => { *@
@*     setTimeout(function() { *@
@*         videoPlayer = new VideoPlayer('@Model.Id'); *@
@*         videoPlayer.startup(); *@
@*         videoPlayer.play(); *@
@*     }, 1000); *@
@* } *@
@* </script> *@