@model dynamic

<link rel="stylesheet" href="/css/OrderHistory.css" asp-append-version="true">

<div class="dashboard-content">
    <div class="content">
        <div class="section-title">
            <h4>Bestelgeschiedenis</h4>
        </div>
        <div class="dashboard-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Naam</th>
                        <th>Datum</th>
                        <th>Prijs</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>#1234</th>
                        <td>1 Maand toegang</td>
                        <td>1 Jan, 2024</td>
                        <td>$10.99</td>
                        <td><span class="badge success">Success</span></td>
                    </tr>
                    <tr>
                        <th>#2341</th>
                        <td>1 Maand toegang</td>
                        <td>1 Feb, 2024</td>
                        <td>$10.99</td>
                        <td><span class="badge processing">Verwerken</span></td>
                    </tr>
                    <tr>
                        <th>#3412</th>
                        <td>1 Maand toegang</td>
                        <td>1 Mrt, 2024</td>
                        <td>$10.99</td>
                        <td><span class="badge on-hold">Bezig</span></td>
                    </tr>
                    <tr>
                        <th>#4123</th>
                        <td>3 Maand toegang</td>
                        <td>1 Apr, 2024</td>
                        <td>$40.99</td>
                        <td><span class="badge canceled">Geannuleerd</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
