@model dynamic

<!-- create some panels -->
@* https://rainbowit.net/html/histudy/student-dashboard.html *@
@* https://chenzhijin.com/en/article/Useful%20Unicode%20for%20Chemists/ *@

Oke het volgende is wat ik tot nu toe heb gemaakt:
<ul>
    <li>Een deel van het lesmateriaal (dus de video player met een soort van vragen systeem (waar ik niet helemaal blij mee ben)</li>
    <li>Bestelgeschiedenis voorbeeld, doet niks, gewoon een voorbeeld</li>
</ul>

Sinds de vorige keer zijn de 'toetsen' verplaats naar het lesmateriaal tabje, dan klikt je op een video (er zijn 5 verschillende en dat 3x gekopieerd, dus BOE-schema is bij alle 3 hetzelfde.) Dan kom je bij de video, en kan je klikken op 'Naar de vragen' dan krijg je wat vragen te zien over de video. Ik heb nu alleen vragen gemaakt (ugh, het ChatGPT gedaan...) over "BOE-schema" en "Verdelingsevenwicht en oplosevenwicht".<br/>
Maar een echt goede manier om de toetsen te laten zien heb ik nog niet echt, maar daar breek ik mijn hoofd nog wel over.